
@media(max-width:320px){

}

@media(min-width:480px){
    
}

@media(min-width:768px){

}

@media(min-width:1024px){

}

@media(min-width:1280px){
/* TAMAÑO TRABAJADO ORIGINALMENTE */
}

@media(min-width:1440px){
    /* // HEADER // */
    .logo{
        width: 60px;
    }
    .header{
        font-size: 18px;
    }
    /* // ICONOS // */
    .icons a{
        font-size: 22px;
    }
    /* // TITULOS / TEXTOS // */
    h1, h2{
        font-size: 58px;
    }
    .descripcion{
        font-size: 18px;
        line-height: 32px;
    }
    /* // BOTONES // */
    .botonRojo, .botonRojo2, .botonBlanco{
        padding: 16px 60px;
        font-size: 20px;
    }
    /* // ABOUT // */
    .about p{
        margin-bottom: 10px;
        line-height: 32px;
    }
    /* // HABILIDADES // */
    .skillSec{
        width: 24%;
    }
    .skill{
        font-size: 28px;
    }
    .skillDesc{
        font-size: 14px;
    }
    /* // PROYECTOS // */
    .portfolio-content p{
        font-size: 16px;
        line-height: 22px;
    }
    .proyect-content h3{
        font-size: 24px;
    }
    .proyect-content p{
        line-height: 22px;
    }
    .verProyecto{
        font-size: 20px;
    }
    /* // TESTIMONIOS // */
    .nombreCeo{
        font-size: 20px;
    }
    .botonSelect{
        padding: 8px 12px;
    }
    .selecTestimonio{
        border: solid 2px gray;
    }
    .selecTestimonio:hover{
        border: solid 2px var(--primary-color);
    }
    /* // CONTACTO // */
    .inpNombreMail, .inpAsunto, .inpMensaje{
        font-size: 18px;
    }
    .botonContact{
        font-size: 22px;
    }
    /* // FOOTER // */
    .footer{
        font-size: 20px;
    }
    .botonVolver{
        padding: 8px;
        font-size: 16px;
    }
}

@media(min-width:1920px){
    /* // HEADER // */
    .logo{
        width: 75px;
    }
    .header{
        font-size: 24px;
    }
    /* // ICONOS // */
    .icons a{
        font-size: 26px;
    }
    /* // TITULOS / TEXTOS // */
    h1, h2{
        font-size: 64px;
    }
    .descripcion{
        font-size: 22px;
        line-height: 36px;
    }
    /* // BOTONES // */
    .botonRojo, .botonRojo2, .botonBlanco{
        padding: 18px 80px;
        font-size: 28px;
    }
    /* // ABOUT // */
    .about p{
        margin-bottom: 10px;
        line-height: 34px;
    }
    /* // HABILIDADES // */
    .skillSec{
        width: 18%;
    }
    .skill{
        font-size: 32px;
    }
    .skillDesc{
        font-size: 16px;
    }
    /* // PROYECTOS // */
    .portfolio-content p{
        font-size: 18px;
        line-height: 24px;
    }
    .proyect-content h3{
        font-size: 28px;
    }
    .verProyecto{
        font-size: 22px;
    }
    /* // TESTIMONIOS // */
    .nombreCeo{
        font-size: 22px;
    }
    .botonSelect{
        padding: 10px 15px;
    }
    .selecTestimonio{
        border: solid 2px gray;
    }
    .selecTestimonio:hover{
        border: solid 2px var(--primary-color);
    }
    /* // CONTACTO // */
    .inpNombreMail, .inpAsunto, .inpMensaje{
        font-size: 20px;
    }
    .botonContact{
        font-size: 24px;
    }
    /* // FOOTER // */
    .footer{
        font-size: 22px;
    }
    .botonVolver{
        padding: 10px;
        font-size: 18px;
    }
}