
@media(max-width:1280px){
    /* // HEADER // */
    .navbar{
        width: 50%;
    }
    /* // ICONOS // */
    .icons a{
        font-size: 18px;
    }
    /* // TITULOS / TEXTOS // */
    h1, h2{
        font-size: 38px;
    }
    .descripcion{
        line-height: 24px;
    }
    /* // BOTONES // */
    .botonRojo, .botonRojo2, .botonBlanco{
        padding: 12px 42px;
        font-size: 16px;
    }
    /* // HERO // */
    .divHero{
        padding: 60px 100px 0px 100px;
    }
    .imgFondoHero{
        width: 40%;
    }
    /* // ABOUT // */
    .about{
        align-items: center;
    }
    .about img{
        width: 30%;
        height: 100%;
        margin:0px 20px 0px 80px;
    }
    .textAbout{
        width: 50%;
        padding: 10px 30px;
    }
    .about p{
        margin: 0px 0px 8px 0px;
        line-height: 22px;
        font-size: 14px;
    }
    .about a{
        margin-top: 20px;
    }
    /* // HABILIDADES // */
    .skills{
        padding: 50px 40px;
    }
    .skillSec{
        width: 25%;
    }
    /* // PORTFOLIO // */
    .portfolio{
        padding: 100px 100px 40px 100px;
    }
    .portfolio-content p{
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
    }
    .proyecto img{
        width: 50%;
    }
    .proyect-content{
        padding: 20px 0px 10px 15px;
    }
    .proyect-content p{
        line-height: 18px;
        margin-bottom: 40px;
    }
    /* // TESTIMONIOS // */
    .testimonios{
        padding: 50px 50px;
    }
    .TestContainer{
        width: 50%;
    }
    .nombreCeo{
        font-size: 16px;
    }
    .ceoFoto{
        width: 200px;
    }
    .botonSelect{
        padding: 8px 12px;
        font-size: 12px;
    }
    /* // CONTACTO // */
    .contact{
        padding: 50px 50px;
    }
    .inpNombreMail, .inpAsunto, .inpMensaje{
        font-size: 16px;
    }
    .botonContact{
        font-size: 18px;
    }
    /* // FOOTER // */
    .footer{
        font-size: 16px;
    }
    .botonVolver{
        padding: 8px;
        font-size: 14px;
    }
}

@media(max-width:1024px){
    /* // HEADER // */
    .navbar{
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .navbar a{
        width: 30%;
    }
    /* // ICONOS // */
    .icons a{
        font-size: 18px;
    }
    /* // TITULOS / TEXTOS // */
    h1{
        line-height: 40px;
    }
    h1, h2{
        font-size: 30px;
    }
    .descripcion{
        line-height: 24px;
    }
    /* // BOTONES // */
    .botonRojo, .botonRojo2, .botonBlanco{
        padding: 8px 30px;
        font-size: 16px;
    }
    /* // HERO // */
    .divHero{
        padding: 40px 80px 0px 80px;
    }
    .imgFondoHero{
        width: 40%;
    }
    /* // ABOUT // */
    .about{
        align-items: center;
        padding: 40px 80px;
    }
    .about img{
        width: 30%;
        height: 100%;
        margin:0px 20px 0px 40px;
    }
    .textAbout{
        width: 50%;
        padding: 10px 30px;
    }
    /* // HABILIDADES // */
    .skills{
        padding: 20px 40px;
    }
    /* // PORTFOLIO // */
    .portfolio{
        padding: 100px 60px 40px 60px;
    }
    .portfolio-content p{
        width: 50%;
    }
    /* // TESTIMONIOS // */
    .botonSelect{
        padding: 8px 12px;
        font-size: 12px;
    }
    /* // CONTACTO // */
    .contact{
        padding: 0px 30px;
    }
    .inpNombreMail{
        width: 40%;
    }
    .inpNombreMail, .inpAsunto, .inpMensaje{
        font-size: 16px;
    }
    .botonesContacto a{
        margin: 10px 0px;
    }
    .botonContact{
        padding: 30px 10px;
        font-size: 16px;
    }
}

@media(max-width:768px){
        /* // HEADER // */
        .navbar{
            display: none;
        }
        .botonBlanco{
            display: none;
        }
        .botonMenu{
            display: block;
        }
        /* // ICONOS // */
        .icons a{
            margin: 0px;
            font-size: 14px;
        }
        /* // BOTONES // */
        .botonRojo, .botonRojo2, .botonBlanco{
            padding: 8px 30px;
            font-size: 16px;
        }
        /* // HERO // */
        .divHero{
            padding: 40px 80px 0px 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .imgFondoHero{
            display: none;
        }
        /* // ABOUT // */
        .about{
            align-items: center;
            padding: 20px 40px;
        }
        .about img{
            display: none;
        }
        .textAbout{
            width: 100%;
            padding: 10px 30px;
        }
        .about .botonRojo{
            display: none;
        }
        /* // HABILIDADES // */
        .skills{
            padding: 20px 40px;
            align-items: center;
        }
        .html{
            width: 70%;
        }
        .html:hover{
            border: solid 1px transparent;
        }
        .css,.js,.java,.sql{
            display: none;
        }
        .botonSelectSkill{
            display: block;
            height: 100%;
            padding: 5px 10px;
            color: var(--secondary-color);
            background-color: transparent;
            border: 1px solid var(--secondary-color);
            border-radius: 2px;
            transition: color 0.3s, border 0.3s;
        }
        .botonSelectSkill:hover{
            color: var(--primary-color);
            border: 1px solid var(--primary-color);
        }
        .selectorSkill{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            width: 80%;
        }
        .selectSkill{
            width: 25px;
            margin: 0;
            border: solid 1px gray;
            transition: border 0.3s;
        }
        .selectSkill:hover{
            cursor: pointer;
            border: solid 1px var(--primary-color);
        }
        .selectSkill{
            width: 25px;
            margin: 0;
            border: solid 1px gray;
        }
        .selected{
            border: solid 1px var(--primary-color);
        }
        /* // PORTFOLIO // */
        .portfolio{
            padding: 40px 40px;
        }
        .portfolio-content{
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 10px;
        }
        .portfolio-content h2{
            width: 40%;
            margin: 0;
            text-align: left;
        }
        .portfolio-content p{
            width: 50%;
            height: 100%;
            margin: 0;
        }
        .portfolio .botonRojo{
            margin: 40px 0px 0px 20px;
        }
        .proyecto{
            width: 100%;
        }
        .pr2{
            display: none;
        }
        .selectoresProyecto{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        .selectProyecto{
            width: 45px;
            margin: 0;
            border: solid 1px gray;
            transition: border 0.3s;
        }
        .selectProyecto:hover{
            border: solid 1px var(--primary-color);
        }
        /* // TESTIMONIOS // */
        .testimonios{
            padding: 20px 40px;
        }
        .TestContainer{
            width: 100%;
        }
        .imgCeoContainer{
            display: none;
        }
        .selecTestimonio{
            width: 20px;
        }
        .botonSelect{
            padding: 8px 12px;
            font-size: 12px;
        }
        /* // CONTACTO // */
        .contact{
            padding: 0px 20px;
        }
        .contact h2{
            margin: 0px;
        }
        .botonesContacto{
            width: 100%;
            flex-direction: row;
            padding: 10px 0px;
        }
        .botonContact{
            padding: 20px 10px;
        }
        .formContact{
            width: 100%;
            padding: 0px 20px;
        }
        .inpNombreMail, .inpAsunto, .inpMensaje{
            font-size: 16px;
        }
        .contact .icons{
            padding: 0px 0px 20px 0px;
        }
}

@media(max-width:480px){
        /* // HEADER // */
    .header{
        padding: 20px 0px;
        justify-content: space-between;
    }
    .header .logo{
        margin: 0px 40px;
    }
    .botonMenu{
        margin: 0px 40px;
    }
    /* // ICONOS // */
    .icons a{
        margin: 0px;
        font-size: 14px;
    }
    /* // BOTONES // */
    .botonRojo, .botonRojo2, .botonBlanco{
        padding: 8px 30px;
        font-size: 16px;
    }
    /* // HERO // */
    .divHero{
        padding: 20px 20px 0px 20px;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .descripcion{
        margin-bottom: 20px;
    }
    /* // ABOUT // */
    .about{
        padding: 15px 20px;
    }
    .textAbout{
        padding: 0px;
        text-align: justify;
    }
    /* // HABILIDADES // */
    .skills{
        padding: 10px 20px 30px 20px;
    }
    .skillSec{
        width: 60%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
    }
    .skillSec h3{
        font-size: 24px;
    }
    .contSkillimg{
        padding: 8px 8px;
    }
    .html img{
        width: 30px;
    }
    /* // PORTFOLIO // */
    .portfolio{
        padding: 40px 20px;
    }
    .portfolio-content{
        padding-bottom: 10px;
    }
    .portfolio-content h2{
        width: 100%;
        margin-bottom: 10px;
    }
    .portfolio-content p{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .portfolio .botonRojo{
        margin: 10px 0px 0px 5px;
    }
    .proyecto img{
        display: none;
    }
    .proyect-content{
        width: 100%;
        padding: 12px;
    }
    .proyect-content p{
        margin-bottom: 10px;
    }
    /* // TESTIMONIOS // */
    .testimonios{
        padding: 20px 30px;
    }
    .selecTestimonio{
        width: 25px;
    }
    .botonSelect{
        padding: 8px 16px;
    }
    /* // CONTACTO // */
    .contact{
        padding: 0px 10px;
    }
    .botonesContacto{
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px 0px;
    }
    .botonContact{
        padding: 20px 10px;
    }
    .formContact{
        width: 100%;
        padding: 0px 0px;
    }
    .inpNombreMail{
        width: 35%;
    }
    /* // FOOTER // */
    .footer{
        justify-content: center;
    }
    .footer p{
        text-align: center;
        width: 70%;
    }
}

@media(min-width:1280px){
    /* // HEADER // */
    .header{
        font-size: 20px;
    }
    /* // TITULOS / TEXTOS // */
    .descripcion{
        font-size: 20px;  
    }
    /* // HABILIDADES // */
    .skillSec{
        width: 25%;
    }
    .skill{
        font-size: 28px;
    }
    .skillDesc{
        font-size: 20px;
    }
    /* // FOOTER // */
    .footer{
        font-size: 20px;
    }
}

@media(min-width:1440px){
    /* // HEADER // */
    .logo{
        width: 60px;
    }
    .header{
        font-size: 22px;
    }
    /* // ICONOS // */
    .icons a{
        font-size: 22px;
    }
    /* // TITULOS / TEXTOS // */
    h1, h2{
        font-size: 54px;
    }
    .descripcion{
        font-size: 24px;
        line-height: 32px;
    }
    /* // BOTONES // */
    .botonRojo, .botonRojo2, .botonBlanco{
        padding: 16px 60px;
        font-size: 20px;
    }
    /* // ABOUT // */
    .about p{
        margin-bottom: 10px;
        line-height: 32px;
    }
    /* // HABILIDADES // */
    .skillSec{
        width: 24%;
    }
    .skill{
        font-size: 28px;
    }
    .skillDesc{
        font-size: 20px;
    }
    /* // PROYECTOS // */
    .portfolio-content p{
        font-size: 22px;
        line-height: 28px;
    }
    .proyect-content h3{
        font-size: 28px;
    }
    .proyect-content p{
        line-height: 28px;
    }
    .verProyecto{
        font-size: 24px;
    }
    /* // TESTIMONIOS // */
    .nombreCeo{
        font-size: 24px;
    }
    .botonSelect{
        padding: 8px 12px;
    }
    .selecTestimonio{
        border: solid 2px gray;
    }
    .selecTestimonio:hover{
        border: solid 2px var(--primary-color);
    }
    /* // CONTACTO // */
    .inpNombreMail, .inpAsunto, .inpMensaje{
        font-size: 24px;
    }
    .botonContact{
        font-size: 22px;
    }
    /* // FOOTER // */
    .footer{
        font-size: 24px;
    }
    .botonVolver{
        padding: 10px;
        font-size: 18px;
    }
}

@media(min-width:1920px){
    /* // HEADER // */
    .logo{
        width: 75px;
    }
    .header{
        font-size: 28px;
    }
    /* // ICONOS // */
    .icons a{
        font-size: 26px;
    }
    /* // TITULOS / TEXTOS // */
    h1, h2{
        font-size: 64px;
    }
    .descripcion{
        font-size: 32px;
        line-height: 36px;
    }
    /* // BOTONES // */
    .botonRojo, .botonRojo2, .botonBlanco{
        padding: 18px 80px;
        font-size: 30px;
    }
    /* // HERO // */
    .divHero{
        padding: 80px 120px 0px 140px;
        width: 50%;
    }
    /* // ABOUT // */
    .about p{
        margin-bottom: 10px;
        line-height: 34px;
    }
    /* // HABILIDADES // */
    /* .skillSec{
        width: 20%;
    } */
    .skill{
        font-size: 36px;
    }
    .skillDesc{
        font-size: 24px;
    }
    .skills img{
        width: 80px;
    }
    /* // PROYECTOS // */
    .portfolio-content h2{
        width: 30%;
    }
    .portfolio-content p{
        font-size: 28px;
        line-height: 30px;
    }
    .proyect-content h3{
        font-size: 28px;
    }
    .proyect-content p{
        line-height: 30px;
    }
    .verProyecto{
        font-size: 28px;
    }
    /* // TESTIMONIOS // */
    .nombreCeo{
        font-size: 28px;
    }
    .botonSelect{
        padding: 10px 15px;
    }
    .selecTestimonio{
        border: solid 2px gray;
    }
    .selecTestimonio:hover{
        border: solid 2px var(--primary-color);
    }
    /* // CONTACTO // */
    .inpNombreMail, .inpAsunto, .inpMensaje{
        font-size: 28px;
    }
    .botonContact{
        font-size: 24px;
    }
    /* // FOOTER // */
    .footer{
        font-size: 28px;
    }
    .botonVolver{
        padding: 10px;
        font-size: 18px;
    }
}