:root{
    --primary-color: #f92139;
    --secondary-color: #ffffff;
    --bg-color-1: #000000;
}
*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
}

/* //////// HEADER Y NAVBAR //////// */
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 26px 0px;
    background-color: var(--bg-color-1);
}
    /* // NAVBAR // */
.navbar{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.navbar a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: normal;
    transition: 0,5s;
    scroll-behavior: smooth;
}
.navbar a:hover{
    font-weight: bold;
    text-decoration: underline;
}
    /* // BOTON // */
.botonBlanco{
    border: 1px solid var(--secondary-color);
    border-radius: 2px;
    padding: 8px 36px;
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0);
    transition: color 0.3s, background-color 0.3s;
}
.botonBlanco:hover{
    color: var(--bg-color-1);
    background-color: rgba(256, 256, 256, 1);
    cursor: pointer;
}

/* ////////////////////// MAIN ////////////////////// */
/* //////// HERO //////// */
.hero{
    display: flex;
    align-items: center;
}
.divHero{
    padding: 0px 280px 0px 100px;
}
.hero h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
}
.descripcion{
    font-size: 14px;
    color: #59514f;
    font-weight: 500;
    margin-bottom: 60px;
}
.imgFondoHero{
    width: 35vw;
}
.botonRojo{
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    padding: 14px 60px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: color 0.3s, background-color 0.3s;
}
.botonRojo:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* //////// ABOUT ME //////// */
.about{
    padding: 0px 100px 40px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about img{
    position: relative;
    width: 350px;
    margin:0px 20px 40px 80px ;
}

    /* // TEXTO // */
.about h2{
    text-align: center;
    width: 100%;
    font-size: 48px;
    font-weight: 500;
}
.textAbout{
    width: 40%;
    padding: 10px 0px 10px 40px;
}
.about p{
    line-height: 22px;
    margin-bottom: 10px;
}

    /* // BOTONES // */
.botonRojo2{
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    padding: 14px 60px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transition: color 0.3s, background-color 0.3s;
    margin: 0px 14px;
}
.botonRojo2:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

    /* // ICONOS // */
.iconsAbout{
    padding: 30px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.iconsAbout a{
    font-size: 18px;
    text-decoration: none;
    color: var(--bg-color-1);
    transition: color 0.3s;
}
.iconsAbout a:hover{
    color: var(--primary-color);
}

/* // SKILLS // */
.skills{
    padding: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-color-1);
    color: var(--secondary-color);
}
.skills h2{
    text-align: center;
    width: 100%;
    font-size: 48px;
    font-weight: 500;
}
.skills img{
    width: 60px;
}
    /* // DIVISION SKILL // */
.skillSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 10px;
    margin: 0px 5px 10px 5px;
    border: solid 1px var(--bg-color-1);
    transition: border 0.3s;
}
.skillSec:hover{
    border: solid 1px var(--primary-color);
}
.skill{
    font-size: 30px;
}
.skillSec p{
    font-size: 14px;
}

/* //////// SECCION PORTFOLIO //////// */
.portfolio{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 100px 40px 120px;
}
    /* // TEXTO SUPERIOR // */
.portfolio-content{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
}
.portfolio-content p{
    width: 32%;
    font-size: 14px;
    margin: 0px 50px 0px 20px;
}
.portfolio-content h2{
    width: 40%;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
}
    /* SECCIONES CON PROYECTOS */
.proyecto{
    border: solid 1px rgba(0, 0, 0, 0);
    justify-content: space-between;
    width: 49%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: border 0.3s;
}
.proyecto:hover{
    border: solid 1px var(--bg-color-1);
}
.proyecto img{
    width: 50%;
    height: 50%;
}
.proyect-content{
    width: 40%;
    height: 100%;
    padding: 35px 15px;
}
.proyect-content h3{
    margin: 0;
}
.proyect-content a{
    text-decoration: underline;
    color: var(--bg-color-1);
    transition: color 0.2s, line-weight 0.2s;
}
.proyect-content a:hover{
    color: var(--primary-color);
    font-weight: 500;
}

/* //////// SECCION TESTIMONIOS //////// */
.testimonios{
    padding: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
}
.testimonios h2{
    padding-left: 40px;
    font-size: 48px;
    font-weight: 500;
}
.TestContainer{
    width: 40%;
}
.italic{
    font-size: 16px;
    font-style: italic;
}
.nombreCeo{
    width: 100%;
    text-align: end;
    font-weight: 500;
    font-style: normal;
}
.imgCeoContainer{
    display: flex;
    align-items: center;
    padding: 10px;
    border: solid 1px var(--primary-color);
    box-shadow: -35px 25px black;
}
.imgCeoContainer img{
    width: 300px;
}
.selectores{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 25px;
}
.selecTestimonio{
    margin: 0;
    width: 45px;
    border: solid 1px gray;
}
.selecTestimonio:hover{
    cursor: pointer;
    border: solid 1px var(--primary-color);
}